<form class="add-message-form" method="post" action="/new">
  <div class="input-div">
    <label for="author">Author:</label>
    <input type="text" name="author" id="author" />
  </div>
  <div class="input-div">
    <label for="message">Message:</label>
    <textarea name="message" id="message" rows="10"></textarea>
  </div>
  <button class="msg-submit-btn" type="submit">Submit</button>
</form>
